body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 50em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: 'Noticia Text', Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.8em;
    color: #333; 
}
sup {
    line-height: 0;
}

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: 'Inconsolata',Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #7a5ada; 
}
h1, h2, h3, h4, h5 { font-family: 'Source Sans Pro', Verdana, sans-serif;
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: #7a5ada; }
h1 {
        font-size: 150%;
}

h2 {
        font-size: 130%;
}

h3 {
        font-size: 115%;
}

h4 {
        font-size: 110%;
        font-style: italic;
}

h5 {
        font-size: 110%;
        font-style: italic;
}

h1.title {
        font-size: 220%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
    font-style: italic;
}
